@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
}

.navbar {
  background-color: #e3f2fd;
}

.navbar .nav-link {
  color: #000;
}

.navbar .nav-link:hover {
  color: #007bff;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.footer {
  background-color: #e3f2fd;
  padding: 1rem;
}

.api-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 100%;
}

.table-container {
  overflow-x: auto;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
}

.table thead th {
  white-space: nowrap;
}

@media (max-width: 576px) {
  .api-container {
    padding: 20px;
  }
}

/* styles.css */

body {
  font-family: "Amiri", serif;
  font-weight: 600;
  font-style: normal;
}

.form-check-label {
  font-family: "Amiri", serif;
  font-weight: 600;
  font-style: normal;
}

.form-control {
  font-family: "Amiri", serif;
  font-weight: 600;
  font-style: normal;
}

textarea {
  font-size: larger;
}
